/* 

Fuentes

font-family: 'Raleway', sans-serif;

*/

body {
  font-family: "Roboto", sans-serif !important;
}

/* FONTS GOOGLE */

.raleway-font {
  font-family: "Raleway", sans-serif;
}

/* --------------- */

/* ESTILOS PARA TODO */

.bg-black {
  background-color: black;
}

.bg-divider {
  height: 3rem;
}

/* FIN ESTILO PARA TODOS */

/* Style Navbar */

.logo-img {
  height: 2.5em !important;
}

.navbar-toggler {
  color: white !important;
}

.btn-menu {
  border-radius: 0.5em;
}

.btn-menu:hover {
  background-color: red;
  border-radius: 0.5em;
}

/* End Style Navbar */

/* ESTILOS */

.bg-presentacion {
  background-image: url("./assets/img/car-4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-black-presentacion {
  background-color: rgba(0, 0, 0, 0.603);
}

/* FIN ESTILOS */

/* STYLES CARDS */

.card {
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.card:hover {
  transform: scale(1.05);
}

/* END STYLES CARDS */

/* ESTILO PARA ICONO DE INSTAGRAM */

.instagram .fab {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* ---------------- */

/* Whatsapp Boton */

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;

  z-index: 100;
}

.float:hover {
  color: white;

  transform: scale(1.05);

}

.my-float {
  margin-top: 16px;
}

/* ----------- */

.fixed-button {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  padding: 8px 15px;
  border-radius: 50%;
  opacity: 0;
  /* El botón estará oculto por defecto */
  transition: 0.3s ease-in-out;
}

.show-button {
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.fixed-button:hover {
  color: white;
  background-color: red;
}

/* 
Estilo Img
*/